body {
  font-family: "Schibsted Grotesk", Arial, Helvetica, sans-serif;
  color: #00120c;
  margin: 0rem;
}

a {
  color: #011c13;
  text-decoration: none;
}

a:visited {
  color: #00120c;
  text-decoration: none;
}

/** Main content*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem 4rem 1rem;
  min-height: 80vh;
  padding: 0rem 1rem;
}

main #feature-card {
  background-color: #f1f2f3;
  border-radius: 4px;
  box-shadow: -16px 16px #212121;
  border: 2px solid #212121;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
}
main #feature-card:hover {
  box-shadow: -24px 24px #212121;
  transition: 0.5s;
  transform: translate(5px, -5px);
}

@media screen and (min-width: 768px) {
  main #feature-card {
    width: 30rem;
  }
}

main #feature-card a {
  font-size: 1.875rem;
  text-decoration: underline;
}

main #feature-card img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;
}

main #feature-card h2 {
  font-size: 1.875rem;
  text-decoration: underline;
  margin: 0.5rem auto;
}

main #feature-card p {
  line-height: 1.75rem;
}

main p,
main li {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main p a {
  color: #088058;
}

@media screen and (min-width: 768px) {
  main p,
  main ul {
    width: 30rem;
  }
}

main a {
  text-decoration: underline;
}

main a:hover {
  color: #212121;
}

/* #03432e is a good color to use if i get tired of black */
