.footer {
  background-color: #03432e;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 2rem;
}

.footer > * {
  margin-left: 1rem;
}

.footer > *:nth-child(1) {
  margin-left: 0rem;
}
