.funnymaker h1 {
  margin-bottom: 0.5rem;
}

.funnymaker h2 {
  font-weight: 100;
  font-size: 1rem;
}

.funnymaker h3 {
  width: 100%;
  text-align: start;
}

.funnymaker h4 {
  width: 100%;
  text-align: start;
}

.funnymaker a {
  color: #212121;
}

@media screen and (min-width: 768px) {
  .funnymaker h1 {
    margin-bottom: 0.5rem;
  }

  .funnymaker h2 {
    font-weight: 100;
    font-size: 1rem;
  }

  .funnymaker h3 {
    width: 40rem;
    text-align: start;
  }

  .funnymaker h4 {
    width: 40rem;
    text-align: start;
  }

  .funnymaker p {
    width: 40rem;
  }

  .videoContainer {
    width: 40rem !important;
    height: 22.5rem !important;
    padding-top: 0rem !important;
  }
}

.trylink {
  margin-bottom: 3rem;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsiveIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
